:host {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 2;
}

app-hud-health {
	position: absolute;
	right: 8px;
	top: 8px;
}

app-hud-skills {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translate(-50%, 0);
}

app-hud-avatar {
	position: absolute;
	top: 8px;
	left: 8px;
}

app-hud-credits {
	position: absolute;
	top: 8px;
	font-size: 24px;
	left: 120px;
}

app-hud-alert-counter {
	position: absolute;
	right: 12px;
	top: 130px;
}

app-hud-ability-card-deck {
	pointer-events: all;
	position: absolute; 
	bottom: 0;
	left: 0;
	z-index: 1;
}