<h1>Select A Reward</h1>

<div class="possible-loot-rewards-container">
	<div class="possible-loot-individual-reward-container">
		<i class="fa-solid fa-cent-sign reward-icon"></i>
		<p>4 Credits</p>
		<button mat-raised-button>Select</button>
	</div>
	<div class="possible-loot-individual-reward-container">
		<i class="fa-solid fa-bars reward-icon"></i>
		<p>Equipment</p>
		<button mat-raised-button>Select</button>
	</div>
	<div class="possible-loot-individual-reward-container">
		<i class="fa-solid fa-bars reward-icon"></i>
		<p>Add 3 Random Cards To Discard</p>
		<button mat-raised-button>Select</button>
	</div>
	<div class="possible-loot-individual-reward-container">
		<i class="fa-solid fa-arrows-rotate reward-icon"></i>
		<p>Pick Up Discard Pile</p>
		<button mat-raised-button>Select</button>
	</div>
</div>
