:host {
	display: flex;
	justify-content: center;
}

app-ability-card {
	margin: 0 16px 8px;
}

.ability-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ability-card-cost-display {
	margin-top: 4px;
}