<span class="stat-line">Magic: {{ playerCharacter.stats.skills.magic }} ({{ playerCharacter.stats.skillPoints.magic }})</span>
<span class="stat-line">Tech: {{ playerCharacter.stats.skills.tech }} ({{ playerCharacter.stats.skillPoints.tech }})</span>
<span class="stat-line">Combat: {{ playerCharacter.stats.skills.combat }} ({{ playerCharacter.stats.skillPoints.combat }})</span>
<span class="stat-line">Stealth: {{ playerCharacter.stats.skills.stealth }} ({{ playerCharacter.stats.skillPoints.stealth }})</span>
