$agt-stealth: rgb(41, 81, 109);
$agt-stealth-muted: rgba(41, 81, 109, .4);
$agt-combat: rgb(170, 88, 57);
$agt-combat-muted: rgba(170, 88, 57, .4);
$agt-tech: rgb(39, 117, 82);
$agt-tech-muted: rgba(39, 117, 82, .4);
$agt-magic: rgb(170, 121, 57);
$agt-magic-muted: rgba(170, 121, 57, .4);