<div class="active-encounter-display">
	<app-encounter-card [encounterCard]="(activeEncounter$ | async)!"></app-encounter-card>
</div>
<div class="ability-card-played-cards-display">
	<h3>Played Cards</h3>
	<div
		class="encounter-stage-ability-cards-container"
		cdkDropList
		id="abilityCardPlayedOnEncounter"
		cdkDropListConnectedTo="abilityCardHand"
		cdkDropListOrientation="horizontal"
		(cdkDropListDropped)="handleAbilityCardDropped($event)"
	>
		<app-ability-card
			*ngFor="let abilityCard of encounterStage$ | async"
			[abilityCard]="abilityCard"
			cdkDrag
		></app-ability-card>
	</div>
	<div class="encounter-stage-actions">
		<span
			class="current-value-display"
			[class.current-value-display--failing]="!passing"
			[class.current-value-display--passing]="passing"
		>
			Current Value: {{ stagedValue$ | async }}
		</span>
		<button mat-raised-button class="encounter-stage-finish-button" (click)="submitStagedCards()">Finish</button>
	</div>
</div>
